/* GLOBAL */
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: url("assets/images/fond.jpg") center / cover fixed;
  color: #2f2f2f;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-filter {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

/* CADRE TITRE */
.hero-box {
  position: relative;
  background: rgba(245, 239, 229, 0.9);
  padding: 40px 60px;
  text-align: center;
  z-index: 2;
}

/* TITRE */
.hero-box h1 {
  font-family: 'Great Vibes', cursive;
  color: #2aa38c;
  font-size: 62px;
  font-weight: 300;
  line-height: 1.15;
  margin: 0 0 20px;
}

/* DATE */
.date {
  color: #8fae9b;
  font-weight: bold;
  margin-bottom: 30px;
}

/* BOUTON */
.btn {
  padding: 14px 40px;
  background: #c6a75e;
  color: white;
  text-decoration: none;
}

/* SECTION */
.section {
  background: rgba(255, 255, 255, 0.22);
  padding: 100px 12%;
}

.section h2 {
  font-family: 'Great Vibes', cursive;
  color: #2aa38c;
  font-size: 52px;
  text-align: center;
  font-weight: 300;
}

/* ANIMATIONS */
.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

.slide-up {
  animation: slideUp 1.2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

/* RÉVÉLATION */
#reveal {
  position: fixed;
  inset: 0;
  background: #123c33;
  z-index: 9999;
  display: flex;
  pointer-events: none;
}

.reveal-left,
.reveal-right {
  width: 50%;
  height: 100%;
  transition: transform 1.8s cubic
}